.card-pricing__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: antiquewhite;
    font-family: Calibri;
}

.card-pricing__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.card-pricing__type__console {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-pricing__type__console span {
    font-weight: bolder;
    color: #8096ef;
    font-size: 20   px;
}

.card-pricing__value__money {
    font-size: 20px;
    font-weight: bolder;
}

.card-pricing__value__money span {
    font-weight: bolder;
    color: #8096ef;
    margin-right: 4px;
}