.card-label__container {
    display: flex;
    justify-content: end;
}

.card-label__content {
    display: flex;
    justify-content: center;
    background-color: #0D0D0D;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #8096ef;
    padding: 14px 48px;
    width: fit-content;
}