<div class="home__container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL"
        gameConsole="PS4"
        gameCurrency="$"
        gamePrice="129,99"     
    >
    </app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC"
        gameConsole="PS4 PS5"
        gameCurrency="$"
        gamePrice="269,99"    
    >
    </app-card>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="BEST OF YEAR"
        gameType="DIGITAL"
        gameConsole="PS4"
        gameCurrency="$"
        gamePrice="229,99"     
    >
    </app-card>
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DIGITAL"
        gameConsole="PS3 PS4 PS5"
        gameCurrency="$"
        gamePrice="369,99"    
    >
    </app-card>
</div>
